.earning-container {
border: 2px solid red;
  width: 90%;
  margin: auto;
}

.earning-cards {
  border: 2px solid yellow;
  display: grid;
  grid-template-columns: 3fr 1.5fr 1.5fr;
  height: 100%;
  gap: 20px;
  
}

.pay-card {
  height: 100%;
  /* height: 320px;
  width: 600px; */
  border-radius: 15px;
  padding: 25px;
  background-color: #fff;
  border: 2px solid blue;
}

.com-div {
  display: flex;
  gap: 20px;
  align-items: center;
}
.com-div img {
  width: 30px;
  height: 30px;
}

.pay-card div h4 {
  color: rgb(46, 46, 46);
  font-weight: 800;
  font-size: large;
}

.amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
  width: 99%;
  font-weight: bolder;
  padding-top: 10px;
}

.amount h1 {
  color: blue;
  font-size: 50px;
}
.amount h3 {
  font-weight: 700;
  font-size: 20px;
}
.pay-card hr {
  width: 99%;
  height: 10px;
  margin: auto;
  margin-top: 10px;
  border-radius: 10px;
  background-color: rgb(235, 235, 235);
}

.com-approval {
  margin-top: 12px;
}
.com-approval {
  font-size: 18px;
}

.payout-method {
  display: flex;
  align-items: start;
  text-align: center;
  gap: 10px;
  margin-top: 35px;
}
.payout-method p {
  font-size: 18px;
}

.pay-blue {
  color: blue;
}

.total-com {
  /* min-height: 200px;
  width: 300px; */
  background-color: yellow;
  border-radius: 15px;
  text-align: center;
}
.total-com div {
  background-color: green;
  min-height: 70%;
  min-width: 90%;
  margin: auto;
  margin-top: 15%;
  padding: 10px;
}
.total-com div img {
  width: 40px;
  height: 40px;
  background-color: rgb(235, 235, 235);
  box-shadow: rgb(235, 235, 235);
  border-radius: 50px;
}
.total-com div h1 {
  margin-top: 15px;
  font-size: 50px;
}

.total-com div p {
  font-size: 18px;
  margin-top: 18px;
}

/* @media (max-width: 1600px) {
  .total-com div {
    margin-top: 60px;
  }
} */

@media (max-width: 1450px) {
  .earning-container {
    overflow-x: auto;
  }

  .earning-cards {
    min-width: 1050px;
    width: max-content;
    flex-wrap: nowrap;
  }
}


@media (max-width: 768px) {
  .earning-container {
    width: 100%;
  }
 
} 


@media (max-width: 600px) {
  .earning-cards {
    display: block;
  grid-template-columns: 1fr;
overflow-x: hidden;
  }
.pay-card{
  width: 47%;
}
.total-com{
  width: 47%;
}

  
}

