.earning-container{
    border: 2px solid red;
    width: 90%;
    margin: auto;
}

.earning-cards{
    border: 2px solid yellow;
    
}

.pay-card{
    border: 2px solid blue;
    min-height: 250px;
   max-width: 500px;
    border-radius: 20px;
    padding: 20px;
}

.pay-card div{
    display: flex;
    background-color: red;
    gap: 10px;
    align-items: center;
  
}

.pay-card div h4{
    color: rgb(46, 46, 46);
    font-weight: bold;
    font-size: 20px;
    
}

.amount{
    display: flex;
    justify-content: space-between;
}

.pay-card hr{
    width: 90%;
    height: 10px;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
}