.hero-container {
  width: 90%;
  margin: 1rem auto;
  border-radius: 20px;
  background-color: #fff
}

.hero {
  background-color: rgb(29, 10, 76);
  width: 100%;
  border-radius: 20px;
  padding: 20px;
}

.hero-text {
  width: 100%;
  color: #fff;
}

.hero-input {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

.hero-input input {
  width: 100%;
  max-width: 570px;
  height: 60px;
  font-size: 18px;
}

.hero-input button {
  width: 100%;
  max-width: 140px;
}

@media (max-width: 768px) {
  .hero-input {
    flex-direction: column;
    align-items: stretch;
  }

  .hero-input button,
  .hero-input input {
    width: 100%;
  }

  .hero-text {
    text-align: center;
  }
}

.hero-text h2 {
  padding: 10px;
}

.hero-text p {
  margin-top: 5px;
  font-weight: 400;
  font-size: 20px;
  color: #c1c1c1;
}

.hero-input span {
  background-color: none;
  position: absolute;
  right: 48.5%;
  margin-top: 5px;
  font-size: 40px;
  font-weight: bolder;
  color: rgb(52, 52, 178) e;
}
.hero-input span img {
  width: 30px;
  height: 30;
}
