.hero-container {
  width: 90%;
  margin: 1rem auto;
  border-radius: 20px;
  background-color: #fff;
}

.hero {
  background-color: rgb(29, 10, 76);
  width: 100%;
  border-radius: 20px;
  padding: 20px;
}

.hero-text {
  width: 100%;
  color: #fff;
}

.hero-input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}

.input-wrapper {
  position: relative;
  width: 100%;
  max-width: 570px;
  flex: 1;
}

.input-wrapper input {
  width: 100%;
  height: 60px;
  font-size: 20px;
  padding-right: 45px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.input-icon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
}

.input-icon img {
  width: 24px;
  height: 24px;
}

.hero-input button {
  height: 60px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background-color: rgb(52, 52, 178);
  color: white;
  padding: 0 20px;
  max-width: 140px;
  width: 100%;
}

@media (max-width: 768px) {
  .hero-container {
    width: 100%;
  }

  .hero-text {
    text-align: center;
  }
}

.hero-text h2 {
  padding: 10px;
  font-size: 25px;
}

.hero-text p {
  margin-top: 5px;
  font-weight: 400;
  font-size: 20px;
  color: #c1c1c1;
  padding: 10px;
}

@media (max-width: 600px) {
  .hero {
    padding: 10px;
  }
  .hero-text h2 {
    padding: 5px;
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .hero-input {
    flex-direction: column;
    align-items: stretch;
    width: 85%;
  }

  .hero-input button {
    height: 35px;
    width: 97px;
    font-size: 13px;
  }
  .input-wrapper input{
    height: 47px;
  }
  .input-wrapper input{
    padding-right: 50px;
  }
}
