
.body {
  display: grid;
  grid-template-columns: minmax(180px, 1fr) 4fr;
  height: 100%;
  width: 100%;
  
}

.navigations {
  background-color: #fff;
  border-right: 1px solid #ccc;
  padding: 20px;
}

.navigations ul {
  padding: 0;
  margin: 0;
  background-color: inherit;
}

.navigations li {
  list-style: none;
  padding: 15px 10px;
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigations select:focus {
  outline: none;
  box-shadow: none;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.navigations select {
  border: none;
  background: none;
  width: 23px;
  color: rgb(173, 173, 173);
  font-size: 14px;
}

.content {
  padding: 20px;
  /* background-color: brown; */
  width: 95%;
  overflow-x: hidden;
  margin: auto;
}

.p-acct {
  display: flex;
  margin-top: 25rem;
  align-items: center;
  gap: 10px;
}

.p-acct img {
  height: 25px;
}

.profit-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  font-size: 20px;
  padding: 20px;
  font-weight: bolder;
  color: rgb(167, 167, 167);
  width: 90%;
  background-color: white;
  margin: auto;
}

.profit-container div {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.profit-container div:hover {
  color: rgb(52, 52, 178);
  cursor: pointer;
}

.profit-container div:hover hr {
  background-color: rgb(52, 52, 178);
}

hr {
  width: 150px;
  margin-top: 20px;
  height: 2px;
  border: none;
  background-color: rgb(202, 202, 202);
  transition: background-color 0.3s;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .body {
    grid-template-columns: 1fr;
  }

  .navigations {
    display: none;
  }

  .content {
    padding: 10px;
  }

  .profit-container {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .profit-container div {
    width: 120px;
    text-align: center;
    

  }

  .profit-container{
   width: 100%;
   gap: -10px;
    padding: 0;
  }
  hr {
    width: 100px;
  }

  .content {
    padding: 10px;
  }
}


@media (min-width: 1015px) and (max-width: 1162px){


  .content{

  }
}