.nav {
  border: 1px solid white;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  display: flex;
  gap: 10px;
  margin-left: 40px;
  align-items: center;
}
.logo img {
  height: 50px;
  width: 50px;
}

.logo p {
  font-weight: 900;
  font-size: 15px;
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-right: 40px;
  padding: 5px;
}

.nav-icons ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

.cart-value {
  color: #fff;
  padding-top: 1px;
  font-size: 13px;
  font-weight: bold;
  border-radius: 50px;
  background-color: red;
  text-align: center;
  width: 22px;
  height: 22px;
  position: absolute;
  margin-left: -20px;
}
.nav-icons p {
  color: rgb(52, 52, 178);
  font-size: 15px;
}
.nav-icons ul li {
  list-style: none;
  color: white;
  text-align: center;
}

.nav-icons ul li img {
  width: 30px;
}
.list-icon {
  display: none;
}

.big-srn-navs-icons {
  display: flex;
  gap: 20px;
  align-items: center;
}

@media (max-width: 1024px) {
  .list-icon {
    display: block;
  }
}

@media (max-width: 768px) {
  .nav-icons p {
    display: none;
  }

  .cart-value {
    width: 18px;
    height: 18px;
    padding: 0;
  }

  .nav-icons {
    margin-right: 1px;
  }
  .logo {
    margin-left: 1px;
  }
  .logo img {
    width: 27px;
    height: 27px;
  }
}

@media (max-width: 500px) {
  .big-srn-navs-icons {
    display: none;
  }

  .list-icon {
    display: block;
  }
}

@media (max-width: 316px) {
  .anounce {
    display: none;
  }
  .logo {
    gap: 2px;
  }
  .logo img {
    width: 20px;
  }
  .logo p {
    font-size: 10px;
  }
}
