.work-container {
  width: 90%;
  margin: 2rem auto;
  padding: 25px;
  border-radius: 20px;
  background-color: #fff;
}

.work-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  margin-top: 2rem;
  background-color: red;
}

.card {
  width: 100%;
  max-width: 300px;
  border: 2px solid blue;
}


.work-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.work-heading h2 {
  font-size: large;
  color: rgb(46, 46, 46);
  font-weight: 800;
}

.work-heading div {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.work-heading div p {
  color: rgb(108, 23, 130);
}


.card h4 {
  color: rgb(46, 46, 46);
  font-weight: 800;
}

.card h4,
.card p {
  margin-top: 5px;
}

.card p {
  color: rgb(129, 129, 129);
}

