.work-container {
  width: 90%;
  margin: 2rem auto;
  padding: 25px;
  border-radius: 20px;
  background-color: #fff;
}

.work-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  justify-content: flex-start;
  margin-top: 2rem;
}

.card {
  flex: 1 1 280px;
  width: 100%;
  padding: 20px;
  border-radius: 12px;
  background-color: #fdfdfd;
}

.work-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.work-heading h2 {
  font-size: large;
  color: rgb(46, 46, 46);
  font-weight: 800;
}

.work-heading div {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.work-heading div p {
  color: rgb(108, 23, 130);
}

.card h4 {
  color: rgb(46, 46, 46);
  font-weight: 800;
}

.card h4,
.card p {
  margin-top: 5px;
}

.card p {
  color: rgb(129, 129, 129);
}

@media (max-width: 768px) {
  .work-container {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .work-heading div p {
    font-weight: bold;
    font-size: 10px;
  }
  .work-heading div {
    gap: 7px;
    justify-content: end;
    width: 40%;
  }
  .work-heading div img {
    width: 15px;
    height: 15px;
  }
}
